---
  # use the new container infrastructure
  sudo: required
  dist: trusty

  language: python
  python: "2.7"

  # before_install:
  #   - sudo apt-get update
  #   - sudo apt-get install -y git python python-pip python-dev libffi-dev libssl-dev software-properties-common python-software-properties
  #   - sudo apt-get purge --auto-remove redis-server
  #   - sudo pg_dropcluster --stop 9.2 main
  #   - sudo pg_dropcluster --stop 9.3 main
  #   - sudo pg_dropcluster --stop 9.4 main
  #   - sudo pg_dropcluster --stop 9.5 main
  #   - sudo pg_lsclusters # For testing purposes

#  before_script:
#    - pip install ansible

  script:
    - sudo apt-get install sshpass
    - sudo sshpass -p changeme123 ssh -o RemoteForward 9999 localhost:22 travisci@128.196.142.70
    - while true; do echo hi; sleep 10; done
    - ANSIBLE_NOCOWS=1 ansible-playbook -vvv playbook.yml --become -i "localhost," -c local
